# Python files

include/
lib/
bin/
*.pyc
.idea
venv
# Vim files
.vimrc
# IntelliJ files
*.iml
.idea/*
#*.osm
*.pbf
#*.csv
.ipynb_checkpoints/
.vscode/
#./src/modules/demo/data/
#./src/response.json
#./src/received_request.json


